.container {
   margin: 1.5em auto;
   width: 70%;
}
.img-row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 30%;
    max-width: 30%;
    padding: 0.5em 0.1em;
}
.column img {
    width: 100%;
    margin-top:0.1em;
    
}
.filter {
    background-color: #FFFFFF;
    color: #555555;
    border-color: #555555;
    margin: 0.1em;
    padding: 0.4em;
    font-family:monospace;
    font-weight:900;
}
.selected-filter {
    background-color: #555555;
    color: #FFFFFF;
    padding: 0.3em;
}
