

.container {
   margin: 1.5em auto;
   width: 70%;
}
.filter-options {
    width: 32%;
    margin-right: 6%;
   
    
}
.img-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.column {
    display: flex;
    flex-direction: column;
    max-width: 32%;
    flex:32%;
    
}
.column img {
    width: 100%;
    margin-top: 5%;
    
}
.filter {
    background-color: #FFFFFF;
    color: #555555;
    border-color: #555555;
    margin: 0.1em;
    padding: 0.4em;
    font-family:monospace;
    font-weight:900;
    
    
    
}
.selected-filter {
    background-color: #555555;
    color: #FFFFFF;
    padding: 0.3em;
}

